  <div class="banner" style="background-image: url('https://images.pexels.com/photos/159621/open-book-library-education-read-159621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
    <div class="banner-content">
      <h1>Teach Me</h1>
      <p>Find your perfect lesson</p>
      <a class="btn btn-primary btn-lg">Search now</a>
    </div>
  </div>
<div class="container">
  <div class="title text-center">
    <h2> Lesson Lists</h2>
  </div>

  <div class="row">
    <% @lessons.each do |l| %>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div style= "margin: 10px 0px">
          <%= link_to lesson_path(l) do%>
          <div class="card"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1525944167759-8a88897a1920?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9760d0c36d8bad9bb97b77354e542c66&auto=format&fit=crop&w=2099&q=80');">
            <tr>
            <td><%= l.language %>&nbsp;</td>
            <td><%= l.duration %>&nbsp;</td>
            <td><%= l.price %></td>

            </tr>

          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


