<h1>Lessons</h1>

<h2>Language: <%= @lesson.language %></h2>
<h2>Duration: <%= @lesson.duration %></h2>
<h2>Price: <%= @lesson.price %></h2>

<br />
<%= link_to "Home", root_path, class: "btn btn-primary" %>
