.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;

}
.banner h1 {
  font-size: 140px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding-top: 200px;
  margin-bottom: -12.5px;
  font-family: "Palatino",

}
.banner p {
  font-size: 40px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 20px;
  font-family: "Raleway"
}
