<div class="container">
  <div class="row">
    <div class="col">
      <div class="col-md-4 col-md-offset-4">
        <h1>Appointments</h1>
        <%= simple_form_for(@appointment) do |f| %>
          <%= f.input :start_time, as: :datetime%>
          <%= f.input :location %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

