<div class="appointment-new">
    <h1>Appointments</h1>
    <%= simple_form_for [@lesson, @appointment] do |f| %>
    <%= f.input :start_time, as: :datetime, minute_step: 15 %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>

